/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

/* Klaro Consent Manager */
@import url('https://cdn.kiprotect.com/klaro/v0.7.22/klaro.min.css');

/* Custom Styles */
@import url('barfiller.css');
@import url('nowfont.css');
@import url('rockville.css');
@import url('style.css');
@import url('bootstrap.min.css');
@import url('magnific-popup.css');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.min.css');
@import url('slicknav.min.css');
@import url('font-awesome.min.css');

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: white !important; /* Prevents hover color change */
}