/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap');

/* Klaro Consent Manager */
@import url('https://cdn.kiprotect.com/klaro/v0.7.22/klaro.min.css');

/* Custom Styles */
@import url('barfiller.css');
@import url('nowfont.css');
@import url('rockville.css');
@import url('style.css');
@import url('bootstrap.min.css');
@import url('magnific-popup.css');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.min.css');
@import url('slicknav.min.css');
@import url('font-awesome.min.css');

a {
    text-decoration: none !important;
}

a:hover {
    text-decoration: none !important;
    color: white !important; /* Prevents hover color change */
}

.floating-youtube {
    position: fixed;
    top: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff0000;
    color: white;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
}

.floating-youtube:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
